*{margin: 0; padding: 0;box-sizing: border-box;}

body{
    background-color: #F9F9F9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 300px; height: 300px;
    transform: rotate(45deg);
}
.container span{
    position: absolute;
    width: 100%; height:10px;
    background-color: #565656;
    border: 1px solid #565656;
}
.container span:first-child{
    transform: rotate(90deg);
    transform-origin: 0 0;
}
.container span:nth-child(2){
    bottom: 0; z-index: 1;
}
.container span:nth-child(3){
            transform: rotate(-90deg);
            transform-origin: 100% 0;
}
.container span:nth-child(4){
    z-index: 1;
}
.container .img-box{
    width: 100%; height: 100%;
    background-image: url("iron.jpeg");
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}