button#emoji-btn{
    font-size: 5rem;
    background-color: orange;
    filter: grayscale(1);
    transition: transform .2s ease, filter .2s ease;
    
}

button#emoji-btn:hover {
    transform: scale(1.3);
    filter: grayscale(0);
}
button#emoji-btn{
   margin-left: 50%;
    margin-top: 40%;
}
 
